*{
    margin: 0;
    padding: 0;
}

.route-content{
    background-color: #f9f5e9;
    min-height: 100vh;          
   
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
