*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.gallery-container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
