*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-container{
    text-align: center;
    margin: 20px auto;
    max-width: 85%;

}

.gallery-container .box .image-container{
    columns: 3 250px;
    gap:15px;
}

.gallery-container .box .image-container img{
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

