*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    width: 100%;

    background: #C6272E;
    color: #fff;
    padding: 10px 0 10px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 15%;
    padding: 10px;
}

.logo{
    width: 159px;
    height: 169px;
    margin-bottom: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}
.col .social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
  }
  
  .col .social-icons a {
    font-size: 2.2em;
    color: #ffffff;
    text-decoration: none;
    
  }
  
  .col .social-icons a:hover {
    color: #000;
  }