.contenedorVisitUs {
display: flex;
flex-direction: column;
align-items: center;
padding: 50PX;
background-color: #0A5D33;
}
.buttonVisitUs {
    background: rgba(0,0,0,0);
  color: #fff;
font-weight: bolder;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
  border-bottom: 5px solid #fff;
}
.tituloVisitUs {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  
}
.botonVisitUs {
  background-color: #fff;
  color: #0A5D33;
  padding: 10px 40px;
    border: none;
  border-radius: 60px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1em;
}